/* Font styles. */
/* line 2, ../sass/style.sass */
body {
  margin: 0;
  /* Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography */
  font: 13px/1.5em "Helvetica Neue", helvetica, Arial, sans-serif;
  color: #663300;
}

/* Links */
/* line 10, ../sass/style.sass */
a:link, a:visited {
  color: blue;
  text-decoration: none;
}

/* line 15, ../sass/style.sass */
a:hover, a:active {
  color: red;
  text-decoration: underline;
}

/* Titles. */
/* line 21, ../sass/style.sass */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
}

/* line 24, ../sass/style.sass */
h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

/* line 30, ../sass/style.sass */
h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em;
}

/* line 35, ../sass/style.sass */
h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

/* line 39, ../sass/style.sass */
h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

/* line 43, ../sass/style.sass */
h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

/* line 48, ../sass/style.sass */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* Paragraph styles. */
/* line 53, ../sass/style.sass */
p {
  margin: 0 0 1em 0;
}

/* List styles. */
/* line 57, ../sass/style.sass */
ul, ol {
  margin-left: 0;
  padding-left: 2em;
}

/* Table styles. */
/* line 62, ../sass/style.sass */
table {
  width: 99%;
}

/* line 67, ../sass/style.sass */
tr.even td,
tr.odd td {
  padding: 10px 5px;
}

/* line 70, ../sass/style.sass */
tr.odd {
  background-color: white;
}

/* Code. */
/* line 74, ../sass/style.sass */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 78, ../sass/style.sass */
pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

/* List styles. */
/* line 86, ../sass/style.sass */
ul {
  list-style-type: disc;
}
/* line 88, ../sass/style.sass */
ul ul {
  list-style-type: circle;
}
/* line 90, ../sass/style.sass */
ul ul ul {
  list-style-type: square;
}
/* line 92, ../sass/style.sass */
ul ul ul ul {
  list-style-type: circle;
}

/* line 95, ../sass/style.sass */
ol {
  list-style-type: decimal;
}
/* line 97, ../sass/style.sass */
ol ol {
  list-style-type: lower-alpha;
}
/* line 99, ../sass/style.sass */
ol ol ol {
  list-style-type: decimal;
}

/* Abbreviation. */
/* line 103, ../sass/style.sass */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

/* UI improvments. */
/* line 109, ../sass/style.sass */
#edit-title {
  font-size: 24px;
  width: 98%;
}

/* line 113, ../sass/style.sass */
#system-themes-form img {
  width: 100px;
}

/* line 116, ../sass/style.sass */
.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

/* line 123, ../sass/style.sass */
#edit-delete {
  color: #cc0000;
}

/* Console, style from slate theme. */
/* line 127, ../sass/style.sass */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
}

/* line 134, ../sass/style.sass */
div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55;
}

/* line 139, ../sass/style.sass */
div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522;
}

/* line 144, ../sass/style.sass */
div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77;
}

/* Region Colors. delete when starting a new theme. */
/* line 150, ../sass/style.sass */


/* line 153, ../sass/style.sass */


/* line 156, ../sass/style.sass */

/* line 159, ../sass/style.sass */

#navigation {
  background: #feffa5;
}


/*Header Region*/


#header
{
   
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 581px;
}

#header-content
{
    background-image: url("/sites/default/files/images/headerSantiago.png");
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

#menu-wrapper
{
    background: none repeat scroll 0 0 #1A1A1A;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    margin-bottom: 47px;
    padding-bottom: 11px;
    position:relative;
}


#header-region
{
    
    border: 1px dashed white;
    border-style: none dashed dashed;
    border-width: medium 1px 1px;
    height: 31px;
    border-top: none;
    width: 920px;
    padding: 26px 15px 8px;
    margin-left: auto;
    margin-right: auto;
}

#menu-wrapper,
#header-region {
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#logo{
    float:left;
    margin-right: 15px;
}


#fecha-header-mes-ano
{
    float:left;
}

#fecha-header-dia
{
    float: left;
    margin-right: 11px;
}
#fecha-header
{
       color: #999999;
    float: right;
    margin-left: 20px;
      position: relative;
    top: -10px;
}

#fecha-header-mes
{
   display: block;
    font-size: 1.5em;
    font-weight: 600;
}

#fecha-header-ano
{
         display: block;
    font-size: 1em;
    font-weight: bold;
    margin-top: 3px;
}

#fecha-header-dia-numero
{    display: block;
    font-size: 3em;
    font-weight: bold;
}

#fecha-header-dia-texto
{
      display: block;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 4px;
    text-transform: uppercase;
}

/*Header Region header-region*/





/*Menu */


#header-region ul.nice-menu ul{
    top: 60px;
}

#block-nice_menus-1
{
    float:left;
}

#header #header-region #block-nice_menus-1, #header #header-region #block-nice_menus-1 #nice-menu-1 li
{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    width: auto;
    height:48px;
    margin:-10px 0 0;
    padding-top:22px;
}

#nice-menu-1
{
 margin-top: -39px;
 width: auto;
 height: 60px;
 padding-top: 11px;
}

#header #header-region #block-nice_menus-1 #nice-menu-1 li ul li a
{
 background-color: #6F706D;
    font-size: 20px;
    height: 30px;
    min-width: 200px;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
}



#header #header-region #block-nice_menus-1 #nice-menu-1 li a
{
   /*  padding: 0 40px;
     font-size:18px;
     color:white;*/
     
    /* font-size: 18px;
    height: 28px;
    padding: 15px 30px 10px; */
    
    font-size: 18px;
    height: 27px;
    margin: -22px 18px 0;
    padding: 22px 10px;
  
}


#header #header-region #block-nice_menus-1 #nice-menu-1 li a, #header #header-region #block-nice_menus-1 #nice-menu-1 li a:hover
{
    color:white;
    text-decoration: none;
}

#header #header-region #block-nice_menus-1 #nice-menu-1 li a:hover, .active
{
    background-image: url("/sites/default/files/images/menuButtonHover.png");
}



#cortinaHeader, #fechaHeader{
    float:right;
}

#cortinaHeader
{
	left: 677px;
    margin-top: -28px;
    position: absolute;
}

#fechaHeader
{
    margin-left: 22px;
}



/*Menu principal ENDS*/

/*Contactos Info*/
#contacts-info a
{
    background-image: url("/sites/default/files/images/common/redCornerButton.png");
}
/*Contactos Info ENDS*/


/*Divisores*/
#header-content-divisor
{
    height: 16px;
    background-image: url("/sites/default/files/images/divisorBackground.png");
}

#content-footer-divisor
{
    height: 16px;
    background-color: #434343;
    
}
/*Divisores ENDS*/


/*Content*/

#main
{
    padding-top: 0;
     background-image: url("/sites/default/files/images/contentBackground.png");
         min-height: 307px;
}

/*Content*/

/*Footer*/
#footer
{
    
    min-height: 244px;
    background-image: url("/sites/default/files/images/footerBackground.png");
    color: #666666;
    position: relative;
}

#footerContent
{
      margin-left: auto;
    margin-right: auto;
    width: 960px;
    font-weight: 900;
}

#cortinaFooterColumn
{
    float:left;
    height:100%;
   
}
#cortinaFooter
{
    margin-top: -16px;
}


#newsletter 
{
    width: 275px;
}

#newsletter p
{
    width: 218px;
}

#newsletter span
{
    font-size:1.8em;
    display:block;
    margin-bottom: 10px;
}
#newsletter a#newsletter-subscribe-button
{
	background-image: url("/sites/default/files/images/menuButtonHover.png");
    color: white;
    
    
}
#newsletter a.no-decoration-anchor,#newsletter a:hover, #newsletter a:active
{
     background: none repeat scroll 0 0;
    color: black;
    font-weight: bold;
    height: 14px;
    left: 185px;
    padding: 4px 0 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
    top: -29px;
    width: 80px;
}

#newsletter input, #newsletter a
{
    display: block;
    float: left;
    height: 30px;
    padding-left:10px;
    width: 256px;
}

#mascota-footer
{
        position: absolute;
    right: 0;
    top: -159px;
}




#secondary-links-container, #newsletter
{
   
         float: left;  
        padding-top: 10px;
        font-weight: bold;
}

#secondary-links-container
{
      margin-right: 15px;
}

.secondary-links
{

  float: left;
    list-style: none outside none;
    margin-right: 10px;
}

.secondary-links a, .secondary-links a:hover{
    color: #666666;
    text-decoration: none;
}
.secondary-links li ul
{
      font-size: small;
    list-style: disc outside none;
    margin-top: 10px;
}


.footer-section-header
{
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-section-child
{
    font-size: small;
}

#secundary-links-container
{
    padding-top:10px;
}


#Síguenos li ul, #Síguenos li {
    list-style: none;
    padding: 0;
    margin-bottom: 2px;
}


.footer-social-icon
{
 margin-right: 10px;   

    position: relative;
    top: 7px;
}

/*Footer ENDS*/


/*Descripcion de la empresa*/

#descripcion-de-la-empresa
{
    padding-top:40px;
    color: #663300;
}

#descripcion-de-la-empresa p
{
    font-size:18px;
    width:898px;
text-align: justify;
        font-weight: normal;
        line-height: 25px;
 

}


.description-strong-text{
    font-weight: 600;
}



.ultimos-proyectos-selector{
    float:left;
    width:12px;
    height:12px;
    display: block;
    cursor:pointer;
    
}
#ultimos-proyectos-nav
{
    min-width: 12px;
    min-height: 12px;
    float:right;
}
#ultimos-proyectos-nav-container
{
        height: 12px;
    width: 437px;
     margin-left: auto;
    margin-right: auto;
}

#ultimos-proyectos-slides
{
     height: 299px;
    margin-left: auto;
    margin-right: auto;
    width: 437px;
}

.ultimos-proyectos-group
{
    margin-right: auto;
    margin-left: auto;
}


/*Descripcion de la empresa ENDS*/


/*Message-box*/
#message-box{
     background: none repeat scroll 0 0 #FFFFFF;
    position: fixed;
    z-index: 1000;
}

#message-box a {
   background: none repeat scroll 0 0 #CCCCCC;
    display: block;
    height: 23px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
    text-align: center;
    width: 80px;
}
  
/*Message-box ENDS*/

/*Front Servicios*/
       
.front-servicios
{
    width: 300px;
    height: 100px;
}


.front-servicios-data
{
    
}

.front-servicios-description
{
       color: #663300;
    font-weight: bold;
    text-align: left;
    width: 206px;
}
.front-servicios-icon, .front-servicios-data
{
   float: left;
    max-width: 179px;
    
}


.front-servicios-title {
      color: #E21E26;
    font-size: 1.3em;
    font-weight: bolder;
    margin-bottom: 5px;
}

.front-servicios-icon
{
      background-image: url("/sites/default/files/images/serviciosSprite.png");
    height: 83px;
    margin-right: 10px;
    width: 76px;
    
}






.servicios-title
{
    color:#e21e26;
    margin-bottom: 5px;
    font-weight: bolder;
    font-size: 1.8em;
}

/*Servicios END*/


/*Ultimos Proyectos*/

.slide-show-selector-off
{
    background-image: url("/sites/default/files/images/offSlideshowSelector.png");
}

.screenshots-ultimos-proyectos
{
    display:block;
    clear:both;
}

.ultimos-proyectos-selector 
{
    background-image: url("/sites/default/files/images/offSlideshowSelector.png");
    margin-left: 3px;
}


.ultimos-proyectos-active-selector
{
    background-image: url("/sites/default/files/images/onSlideshowSelector.png");
}

.ultimos-proyectos-data
{
  
    height: 180px;
;
    margin-left: 30px;
    padding-top: 20px;
}
.ultimos-proyectos-data p
{
    max-width: 385px;
    clear:both;
    margin: 0;
}



.ultimos-proyectos-data p.ultimos-proyectos-nombre-logo
{
   
    margin-right:20px;
}


.ultimos-proyectos-screenshot
{
    width: 437px;
    height: 291px;
}

.ultimos-proyectos-header{
    margin-bottom: 20px;
    
}

.screenshots-ultimos-proyectos{
    width: 290px;
    height: 197px;
}

.logo-ultimos-proyectos
{
    width: 27px;
    height: 25px;
}

#ultimos-proyectos-images-container
{

    height: 155px;
    overflow: hidden;
    
}

.categorias-ultimos-proyectos
{
   
    
    float: right;
    
   
}

.comilla-inicio
{
    margin:10px;
    
}
.comilla-incio
{
    margin: 10px;
    
}

.comilla-final
{
  position: relative;
    top: 19px;
    left: 10px;
    float:right;
}
.ultimos-proyectos-data div.ultimos-proyectos-descripcion-container
{
    max-width:  340px;
    
      height: 116px;
}

#comilla-final-container
{
    
}

#ultimos-proyectos
{  
    height: 326px;
    margin-bottom: 25px;
    padding-top: 12px;
    width: 463px;
    background-image: url('/sites/default/files/images/ultimosProyectosBackground.png');
}

#ultimos-proyectos-selectors-container
{
    float:right;
    margin-top:10px;
}
/*Ultimos Proyectos ENDS*/


/*Contactos Page*/

#contacto-header{
    margin-bottom:10px;
}
#logo-mascota
{
    margin-bottom: 22px;
    float: left;
}

#contact-direccion
{
    
}

#contacto-info
{
    float:left;
    max-width: 300px;
    
}

#contacto-info h2
{
    margin:0;
    margin-bottom: 10px;
}

#contacto-form 
{
      float: left;
    margin-left: 48px;
    margin-right: 122px;
}

#contacto-mensaje
{
      clear: both;
    display: block;
    margin-bottom: 17px;
      border: 0 none;
}
#contacto-form input {
    margin-bottom: 10px;
}

#contacto-form label, #contacto-form input
{
    
       border: 0 none;
    display: block;
    height: 30px;
    min-width: 230px;
}

#contacto-enviar-button
{
      background-image: url("/sites/default/files/images/menuButtonHover.png");
    color: white;
    float: left;
    height: 20px;
    padding: 5px 0;
    text-align: center;
    width: 115px;
    cursor: pointer;
}

#contacto-enviar-button-container
{
      height: 30px;
    padding: 10px;
    width: 115px;
}

#our-ubication
{
    clear: both;

  
}

#ubication-map
{
      width: 330px;
     height: 232px;
     margin-bottom: 20px;
}
/*Contactos Page ENDS*/


/*Agencia Page*/
#agencia-description p{
    clear: both;
    width: 850px;
     color: #483122;
    
    font-size: 1.3em;
    
}

#agencia-atributos{
clear: both;
color: white;


}

#agencia-mision{

  margin-left: 0;

    
}

#agencia-vision{
 
    
 
   
}

#agencia-valores{
  
   
}

.agencia-atributo{
background-image: url("/sites/default/files/images/atributosBackground2.png");
    float: left;
    font-size: 1em;
    height: 173px;
    margin: 16px;
    padding-left: 11px;
    padding-top: 23px;
    width: 251px;
}

.agencia-atributo h1 {
    background: none no-repeat scroll 0 3px transparent;
    height: 27px;;
}

 #agencia-atributos ul{
width: 224px;   
  
}

#agencia-mision-title
{
   background-image: url("/sites/default/files/images/misionListon.png"); 

   
    left: -39px;
    padding-left: 55px;
    position: relative;
    width: 201px;
}

#agencia-vision-title
{
      background-image: url("/sites/default/files/images/visionListon.png");
    left: -26px;
    position: relative;
    text-align: center;
    width: 291px;
}

#agencia-valores-title
{
   background-image: url("/sites/default/files/images/valoresListon.png");
    left: 24px;
    padding-left: 113px;
    position: relative;
    width: 143px;
}

.agencia-atributos-orilla
{
background-image: url("/sites/default/files/images/atributosOrilla.png");
    height: 4px;
    left: -11px;
    position: relative;
    top: -15px;
    width: 232px;
}
.agencia-atributo p, .agencia-atributo ul
{
    
    
     display: block;
    height: 100px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 11px;
    font-size: 1.2em;
    
}

#agencia-description
{
    
    
    float: left;
    text-align: justify;
    width: 590px;
    font-size: 1em;
    margin-bottom: 10px;
    
}

/*Agencia Page ENDS*/

/*Proyecto*/

#proyecto-header
{
    margin-bottom:50px
}

#proyecto-info
{
    float: left;
    color: #4d4d4d;
    width: 320px;
}



#proyecto-info ul
{
  
      font-weight: bold;
    list-style: none outside none;
    margin-bottom: 20px;
}
#proyecto-header p
{
    color: #434343;
}

#proyecto-screenshots
{
   float: right;
    overflow: hidden;
    width: 590px;
}
#proyecto-screenshots
{
     float: right;
    
    width: 640px;
}
#proyecto-screenshots p 
{
    text-align: center;
}


#proyecto-info h1, #proyecto-info h3
{
    color:red;
    
}

#proyecto-servicios
{
    font-weight: bold;
}

#proyecto-navegacion
{
     margin-top: 40px;
    text-align: center;
}

/*Proyecto ENDS*/



/*Portafolio*/

.portafolio-proyecto
{
     float: left;
    height: 217px;
    margin: 5px 20px 5px 5px;
    position: relative;
    width: 295px;
}

.portafolio-descripcion
{
background-color: #000000;
    bottom: 0;
    color: #999999;
    display: none;
    opacity: 0.9;
    padding: 10px;
    position: absolute;
    width: 275px;
    
}

.portafolio-client
{
    font-size: 1.5em;
    font-weight: bold;
}
.portafolio-descripcion p
{
    
    margin: 0;
    
}



.portafolio-client a
{
    text-decoration: none;
    color: #cccccc;
}

.portafolio-screenshot
{
   
    height: 217px;
    width: 295px;
}

#proyecto-portafolio-link
{
    position: relative;
    top: -6px;
}
/*Portafolio Ends*/



/*Servicios*/

#servicios-panel h2 
{   border-bottom: 1px solid #b2b29a;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 18px;
    padding-bottom: 9px;
    padding-left: 85px;
}
#servicios-panel
{
   background-image: url("/sites/default/files/images/serviciosPanel.png");
   color: #A5A599;
    float: left;
    font-size: 1.3em;
    font-weight: bold;
    height: 400px;
    padding: 10px;
    width: 285px;
}
div.servicios-ultimo-servicio
{
    border:none;
}

.servicios-negrita
{
    color:#483122;
}
.servicios-data
{
    
}
.servicios-seccion{
   border-bottom: 1px solid #D7D7D7;
    height: 48px;
    left: 8px;
    margin-bottom: 14px;
    padding-bottom: 10px;
    position: relative;
    width: 285px;
}

.servicios-icono
{
  background-image: url("/sites/default/files/images/serviciosSprite.png");
    display: block;
    float: left;
    height: 68px;
    left: -22px;
    position: relative;
    top: -33px;
    width: 70px;
    
}
a.servicios-servicio{
   -moz-border-radius: 10px 10px 10px 10px;
   border-radius: 10px 10px 10px 10px;
    color: #878787;
    display: block;
    height: 35px;
    left: 39px;
    padding-top: 14px;
    position: relative;
    text-align: center;
    top: 4px;
    width: 260px;
    z-index: 1000;
    
}
.servicios-servicio:hover,a.servicio-activo
{
  background-color: #E02222;
    color: white;
    text-decoration: none;
     
}

span.servicio-activo
{
      color: white;
}

.servicios-titulo
{
   display: block;
    float: left;
    text-align: right;
    width: 166px;
    color: #878787;
}

#servicios-puntos-claves
{
    list-style-image:url('/sites/default/files/images/serviciosListBullet.png');
}

#servicios-info
{
  color: #483122;
    float: left;
    font-size: 16.5px;
    margin-left: 50px;
    padding-top: 20px;
    width: 570px;
    
      text-align: justify;
}

#servicios-info h3
{
    font-size: 1.2em;

}


#servicios-info h3 {
        margin-bottom: 10px;
}

#servicios-descripcion
{
     margin-bottom: 10px;
}
#servicios-info-titulo
{
   color: #E02626;
    font-size: 1.8em;
    font-weight: 900;
    margin-bottom: 10px;
}

#servicios-proyectos-relacionados {
      border-bottom: 1px solid #DEDCCE;
    padding-bottom: 5px;
}

/*Servicios END*/


/*Servicios right Block */
   
#block-nodesinblock-0
{
color: #663300;
    font-weight: bold;
    text-align: justify;

    
}
/*Servicios right Block*/


/*Useful Classes*/
.no-decoration-anchor
{
    text-decoration: none;
    
}

.visible
{
    display: block;
}

.hidden
{
    display:none;
}

.transparent-background
{
        background-color: black;
  
    opacity: 0.4;
    
    
}

.bold
{
    font-weight: bold;
}

.justified
{
    text-align: justify;
}

.round-corners
{
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  behavior: url('ie-css3.htc');

   z-index: 1000;
   position: relative;
}
.round-corners-inner{
    z-index:2000;
    position: absolute;
}

.javascript-validation-wrong{
    border: 2px solid red;
    
}

.error{
    color:red;
}

/*Useful Classes*/

